p.detail {
    color: #4C4C4C;
    font-weight: bold;
    font-family: Calibri;
    font-size: 20
}

span.shop {
    color: #15ff00;
    font-weight: bold;
    font-family: Tahoma;
    font-size: 20
}

span.need {
    text-align: left;
}

div.inline {
    float: left;
    margin-left: 25px;
    margin-top: 1pc;
}

div.inline1 {
    float: right;
    margin-right: 25px;
    margin-top: 1pc;
}

.bg {
    position: relative;
    text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search {
    height: 0.8cm;
    width: 100%;
    margin-top: 2cm;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
}

.promote {
    border: 1px;
    width: 10cm;
    height: 5cm;
    border-radius: 10px;
    margin: 1cm;
}

#t_pro {
    color: lightcyan;
    padding-left: 0.8cm;
}

.btn {
    width: 4cm;
    height: 1cm;
    margin-left: 1cm;
}

.img {
    width: 1cm;
    height: 1cm;
}

.op {
    font-size: 16pt;
}

.grid-container {
    float: left;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 30px;
    padding: 10px;
}

.grid-container>div {
    border: 1px solid;
    border-radius: 10px;
    width: 7cm;
    height: 10cm;
    margin: 20px;
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.clo {
    width: 5cm;
    height: 5cm;
}

#dis {
    float: right;
    font-size: 12px;
    padding: 5px;
    background-color: orangered;
    border-radius: 5px;
    margin-right: 5px;
    width: 1cm;
}

#tx {
    font-size: 16px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

#p_n {
    -webkit-text-decoration-line: line-through;
    /* Safari */
    text-decoration-line: line-through;
    font-size: 18px;
    color: red;
    padding: 0px;
}

#p_dis {
    font-size: 18px;
    color: green;
}

.chart {
    background-color: green;
    color: white;
    width: 2cm;
    height: 1cm;
    border-radius: 10px;
}